<?php

$categories = $block->apiHelper->getAllCategories();
$filter_url = $block->getBaseUrl().$block->apiHelper->getBlogSlug();

if($categories){ ?>

<div class="ponderosa-blog-filters-list">

    <div class="ponderosa-blog-filters-list__wrapper">
        <select onchange="(function(e){window.location.href='<?= $filter_url.'?category=';?>' + e.target.value})(event)" class="ponderosa-blog-filters-list__dropdown" name="ponderosa-blog-category-filter">
            <option value="all">All Categories</option>
            <?php foreach($categories as $category):?>
                <option <?= intval($block->request->getParam('category')) == $category->id ? 'selected' : '';?> value="<?= $category->id;?>"><?php echo $category->name;?></option>
            <?php endforeach;?>
        </select>
    </div>

</div>

<?php }

?>