<?php
$currentPost = $block->getPostContent();
// Gets all posts with category equal to the current post in a randomly organised array.
$allPosts = $block->getAllPostsByCategory( $currentPost->categories[0] );
shuffle($allPosts);
// Get a sample of 20 of the above array.
$subsampledPosts = array_slice($allPosts, 0, 20);

$data = array(
    "articleSlider" => array()
);
?>

<div class="ponderosa-more-slider" data-mage-init='<?= json_encode($data);?>'>
    <div class="ponderosa-more-slider__header">
        <h2>More articles</h2>
    </div>

    <?php if($subsampledPosts):?>
    <div class="ponderosa-more-slider__slider swiper-container">

        <div class="swiper-wrapper">
            <?php foreach($subsampledPosts as $post):

                $author = $block->apiHelper->getResourceById('users', $post->author) ? $block->apiHelper->getResourceById('users', $post->author) : $block->apiHelper->getDefaultAuthor();

                if($post->id !== $currentPost->id): ?>

                <div class="ponderosa-post-slide swiper-slide">
                    <div class="ponderosa-post-slide__thumbnail">
                        <a href="<?= $block->getBaseUrl().$block->apiHelper->getBlogSlug().'/'.$post->slug;?>">
                            <?php echo $block->scrapeImageFromContent($post->content->rendered); ?>
                        </a>
                    </div>
                    <div class="ponderosa-post-slide__content">
                        <span class="ponderosa-post-category"><?= $block->getCategoryNicename( $post->categories[0] );?></span>
                        <h2 class="ponderosa-post-title"><?= $post->title->rendered;?></h2>
                        <span class="ponderosa-post-author"><?= $author;?></span>
                        <span class="ponderosa-post-date"><?= $block->apiHelper->getNiceDate($post->date);?></span>
                    </div>
                </div>

                <?php endif;?>

            <?php endforeach;?>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
    <?php endif;?>
</div>